{# type: error, success, info, warning #}
{# message: string da mensagem #}
{# icon: SVG opcional, se não passar, usa padrão #}

{% set colors = {
    'error': ['text-red-800', 'bg-red-50', 'dark:bg-gray-800', 'dark:text-red-400'],
    'success': ['text-green-800', 'bg-green-50', 'dark:bg-gray-800', 'dark:text-green-400'],
    'info': ['text-blue-800', 'bg-blue-50', 'dark:bg-gray-800', 'dark:text-blue-400']
} %}

{% set color = colors[type]|default(colors['info']) %}
<div class="alert-msg font-bold border-2 border-gray-200 rounded-lg dark:border-gray-700 bg-gray-50 dark:bg-gray-800 flex items-center p-4 mb-4 mt-2 text-sm {{ color[0] }} rounded-lg {{ color[1] }} {{ color[2] }} {{ color[3] }}" role="alert" data-type="{{ type }}">
    {% if icon is defined %}
        {{ icon|raw }}
    {% else %}
        {# ícone padrão #}
        <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
    {% endif %}
    <span class="sr-only">{{ type|capitalize }}</span>
    <div>{{ message }}</div>
</div>

<script>
    setTimeout(() => {
        const alert = document.querySelector('.alert-msg');
        if (alert && alert.dataset.type == 'success') {
            alert.remove();
        }
    }, 5000);
</script>